@charset "UTF-8";
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

reset,
body,
frame,
.section,
#section1 h1,
#section1 h2,
#section1 #startButtonArea,
#section1 #startButtonArea #startButton,
#section1 #startButtonArea #startButton p,
#followMenu ul,
#followMenu ul li,
#followMenu ul li p,
#demo1 .workCard .textBlock p,
#demo2 .graphContainer .graph .block p,
#demo2 .graphContainer .graph .text p,
#demo3 .links .linkContainer #resume p,
#demo3 .thanks p,
#demo3 #myForm p,
#demo3 #myForm form label p,
#demo3 #myForm #cooporate p {
  margin: 0;
  padding: 0;
}

frame,
.section {
  width: 100vw;
  height: 100vh;
}

#section1 {
  background-color: black;
  z-index: 1;
}

#section1 h1 {
  color: white;
  font-family: "Roboto Slab", cursive;
  font-size: 4.5em;
  letter-spacing: 3px;
  opacity: 0;
  margin-top: 9vw;
  font-weight: bold;
}

#section1 h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  opacity: 0;
}

#section1 #textArea {
  width: 100vw;
  position: absolute;
  text-align: center;
  margin-top: 10vw;
}

#section1 #startButtonArea {
  opacity: 0;
  width: 100vw;
  position: absolute;
  top: 60vh;
}

#section1 #startButtonArea #startButton {
  background-color: #191919;
  width: 20vw;
  height: 10vh;
  border-radius: 10vw;
  margin: auto;
  transition: 0.5s;
}

#section1 #startButtonArea #startButton:hover {
  transform: scale(1.1);
}

#section1 #startButtonArea #startButton p {
  transform: translate(5.5vw, 1.3vw);
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  color: White;
  font-weight: bold;
  pointer-events: none;
}

#section1 .expand {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-image: url("images/Coding.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  transform: scale(0);
}

#section1 .expand #expandContent {
  width: 90vw;
  height: 90vh;
  margin-left: 5vw;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4vw;
  background-color: rgba(255, 255, 255, 0.66);
}

#section1 .expand #expandContent .content {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin: 1vw;
}

#section1 .expand #expandContent .content #contentHeader {
  font-family: "Roboto Slab", cursive;
  color: black;
  font-size: 2em;
  opacity: 1;
}

#section1 .expand #expandContent .content #p1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

#section1 .expand #expandContent .content #listHeader {
  font-family: "Roboto Slab", cursive;
  font-size: 1.6em;
}

#section1 .expand #expandContent .content ul {
  list-style: circle;
  display: block;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-2 {
  background-image: url("images/fronEnd.png");
  height: 62.9vh;
}

.bgimg-1 {
  background-image: url("images/Coding.jpg");
  height: 62.9vh;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1 {
    background-attachment: scroll;
  }
}

.firstPara {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.firstPara h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.firstPara h3 {
  text-align: center;
}

.firstPara p {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.aSpan {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}

.firstSection {
  height: 100vh;
}

.sectionFooter {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.footer {
  position: relative;
}

#followMenu {
  position: fixed;
  height: 42vh;
  width: 5vw;
  right: 1vw;
  top: 50%;
  opacity: 0;
  z-index: 10;
  background-color: black;
  border-radius: 5vw;
  transition: 0.5s;
}

#followMenu ul {
  list-style: none;
  margin-top: 0.7vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  text-decoration: none;
}

#followMenu ul a {
  text-decoration: none;
  color: black;
}

#followMenu ul #li1 {
  background-color: lightgreen;
}

#followMenu ul #li2 {
  background-color: lightblue;
}

#followMenu ul #li3 {
  background-color: teal;
}

#followMenu ul #li4 {
  background-color: lightblue;
}

#followMenu ul li {
  background-color: white;
  width: 4vw;
  height: 4vw;
  text-align: center;
  margin: auto;
  border-radius: 5vw;
}

#followMenu ul li p {
  transform: translateY(1.5vw);
  font-family: "Roboto", sans-serif;
}

.demo {
  width: 90vw;
  height: 55vh;
  background-color: black;
  position: relative;
  left: 5vw;
  top: 2vw;
  opacity: 0;
}

#demo1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#demo1 .workCard {
  background-color: lightblue;
  margin: 1vw;
}

#demo1 .workCard:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

#demo1 .workCard img {
  width: 15vw;
  height: 15vw;
  margin: 1vw 1vw 4vw 6vw;
}

#demo1 .workCard .textBlock {
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2em;
}

#demo2 .graphContainer {
  background-color: white;
  margin: 1vw;
  height: 50vh;
  transform: translateY(1.1vw);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#demo2 .graphContainer .graph {
  margin: 1vw;
  background-color: teal;
}

#demo2 .graphContainer .graph #block1 {
  background-color: lightgreen;
}

#demo2 .graphContainer .graph #block2 {
  background-color: palevioletred;
}

#demo2 .graphContainer .graph #block3 {
  background-color: aqua;
}

#demo2 .graphContainer .graph .block {
  height: 2vw;
  width: 10vw;
  margin: 1vw;
  opacity: 0;
}

#demo2 .graphContainer .graph .block p {
  font-family: "Roboto", sans-serif;
  transform: translate(1vw, 0.3vw);
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
}

#demo2 .graphContainer .graph .text p {
  font-family: "Roboto Slab", cursive;
  font-size: 1.6em;
  margin: 10px;
}

#demo3 {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#demo3 .links h2 {
  font-family: "Roboto Slab", cursive;
  font-size: 2em;
  margin-left: 2vw;
}

#demo3 .links .linkContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#demo3 .links .linkContainer #resume {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#demo3 .links .linkContainer #resume p {
  font-family: "Roboto", sans-serif;
  margin-top: 4vw;
  margin-left: 2vw;
  font-size: 1.4em;
}

#demo3 .links .linkContainer a img {
  width: 10vw;
  height: 10vw;
  border-radius: 2vw;
  margin: auto;
}

#demo3 .thanks {
  display: none;
}

#demo3 .thanks h2 {
  font-family: "Roboto Slab", cursive;
  font-size: 2em;
  margin: 1vw;
}

#demo3 .thanks p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin: 1vw;
}

#demo3 #myForm p {
  font-family: "Roboto", sans-serif;
  margin-left: 2vw;
}

#demo3 #myForm h2 {
  font-family: "Roboto Slab", cursive;
  font-size: 2em;
  margin-left: 2vw;
}

#demo3 #myForm form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.5vw;
}

#demo3 #myForm form input:not([type="submit"]) {
  background: blue;
}

#demo3 #myForm form input:invalid {
  background: pink;
}

#demo3 #myForm form input:valid {
  background: lightgreen;
}

#demo3 #myForm form input:focus {
  outline: none;
  border-bottom: solid 2px hotpink;
}

#demo3 #myForm form input {
  border: none;
  background: white;
  border-bottom: solid 1px black;
  width: 11vw;
  margin-bottom: 2vw;
}

#demo3 #myForm form label {
  font-family: "Roboto", sans-serif;
  margin: 1vw;
  font-size: 1.4em;
  background-color: teal;
  border: solid black 2px;
  transform: scale(1.3) translateX(2vw);
  color: white;
  height: 3.1vw;
  width: 20vw;
}

#demo3 #myForm form label p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 2px;
}

#demo3 #myForm form input:placeholder-shown {
  background: white;
}

#demo3 #myForm form input:not(:placeholder-shown):invalid + span:after {
  content: "✖";
  color: black;
}

#demo3 #myForm form input:valid + span:after {
  content: "✓";
  color: black;
}

#demo3 #myForm #cooporate {
  background-color: lightgray;
  width: 10vw;
  height: 2vw;
  margin-left: 1.2vw;
  margin-top: 1.2vw;
  border-radius: 5vw;
  border: solid black 1px;
  z-index: 2;
}

#demo3 #myForm #cooporate p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 0.5vw;
}

#demo3 #myForm #cooporate:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.05);
}
